name: xdg-desktop-portal-cosmic

permissions:
  contents: write

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/xdg-desktop-portal-cosmic.yml
  pull_request:
    paths:
      - .github/workflows/xdg-desktop-portal-cosmic.yml
  schedule:
    - cron: "0 3 * * *"

env:
  PACKAGE: xdg-desktop-portal-cosmic

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/vanilla-os/pico:main
      volumes:
        - /proc:/proc
        - /:/run/host
      options: --privileged -it

    steps:
      - uses: actions/checkout@v4

      - name: Clone Package
        run: |
          DEBIAN_FRONTEND=noninteractive apt install -y git
          git clone "https://github.com/pop-os/${{ env.PACKAGE }}.git"
          cd "${{ env.PACKAGE }}"
          latest_tag=$(git describe --tags "$(git rev-list --tags --max-count=1)")
          git checkout "$latest_tag"

      - name: Install needed packages
        run: |
          DEBIAN_FRONTEND=noninteractive apt update
          DEBIAN_FRONTEND=noninteractive apt install -y \
            dpkg-dev \
            build-essential \
            debhelper-compat
          cd "${{ env.PACKAGE }}"
          DEBIAN_FRONTEND=noninteractive apt build-dep -y .

      - name: Install latest Rust via rustup
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y --profile minimal --default-toolchain stable
          echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> $GITHUB_ENV

      - name: Build debian package
        run: |
          export PATH="$HOME/.cargo/bin:$PATH"
          rustc --version
          cargo --version
          cd "${{ env.PACKAGE }}"
          rm -rf vendor
          cargo update && cargo vendor
          tar cf vendor.tar vendor
          VENDOR=0 dpkg-buildpackage -b -uc -us
          mkdir -p $GITHUB_WORKSPACE/build-output
          mv ../*.deb $GITHUB_WORKSPACE/build-output/

      - uses: actions/upload-artifact@v4
        with:
          name: "${{ env.PACKAGE }}"
          path: build-output/*.deb

      - name: Delete old assets
        run: |
          DEBIAN_FRONTEND=noninteractive apt install -y jq
          bash scripts/delete_old_assets.sh "${{ env.PACKAGE }}" "${{ secrets.GITHUB_TOKEN }}"

      - uses: softprops/action-gh-release@v2
        if: github.ref == 'refs/heads/main'
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag_name: "continuous"
          prerelease: true
          name: "Continuous Build"
          files: |
            build-output/*.deb
